<script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
<script>
  var lock = new Auth0Lock('LwcYCao342N6XJ0wjNooHeuLGMpoahG6', 'studyspace.auth0.com', {
    auth: {
      redirectUrl: 'http://study-space-dev.com:5000/auth/auth0/callback',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>
<button onclick="lock.show();">Login</button>