<header>
	<div class="textfield">
		<form>
			<input name="username" type="text" value="username"> <input name="password" type="text" value="password"> <input type="submit" value="Submit">
		</form>
	</div>
</header>
<main>
	<div id="button">
		<form action="">
			<input class="button1" name="account" type="button" value="Account">
		</form>
		<form action="">
			<input class="button2" name="groups" type="button" value="Groups">
		</form>
		<form action="">
			<input class="button3" name="memberships" type="button" value="Memberships">
		</form>
		<form action="">
			<input class="button4" name="users" type="button" value="Users">
		</form>
	</div>
</main>