<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Study Group App</title>
</head>
    <body>
        <header>
            <div class="textfield">
            <form>
                <input type="text" name="username" value="username">
                <input type="text" name="password" value="password">
                <input type="submit" value="Submit">
            </form>
            </div>
        </header>
        
        <main>
            <div id="button">
                <form action="">
                    <input class="button1" type="button" name="account" value="Account">
                </form>
                <form action="">
                    <input class="button2" type="button" name="groups" value="Groups">
                </form>
                <form action="">
                    <input class="button3" type="button" name="memberships" value="Memberships">
                </form>
                <form action="">
                    <input class="button4" type="button" name="users" value="Users">   
                </form>
            </div>
        </main>
    </body>
</html>


<script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
<script>
  var lock = new Auth0Lock('LwcYCao342N6XJ0wjNooHeuLGMpoahG6', 'studyspace.auth0.com', {
    auth: {
      redirectUrl: 'http://study-space-dev.com:5000/auth/auth0/callback',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>
<button onclick="lock.show();">Login</button>